contract/src/main/resources/wsdls/IgnoreTransactionLLSRQ/IgnoreTransactionLLS2.0.0RQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified">
	<xs:element name="IgnoreTransactionRQ">
		<xs:complexType>
			<xs:attribute name="ReturnHostCommand" type="xs:boolean"  use="optional"/>
			<xs:attribute name="TimeStamp" type="xs:dateTime"  use="optional"/>
			<xs:attribute name="Version" type="xs:string" fixed="2.0.0" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
